!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    style(type='text/css')
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBSjiD2zU2BUca0341b2nDsyTpD70supRU&sensor=false')
    script(type='text/javascript', src='/javascripts/d3.v2.min.js')

  body(onload='initialize()')
    #map_canvas(style='width: 100%; height: 100%;')

      script
            var map;
            var geocoder;
            var sydney = true;
            function initialize()
            {
                  var myOptions = {
                        center: new google.maps.LatLng(39.074208, 21.824311999999964),
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
                  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                  geocoder = new google.maps.Geocoder();
            }
            
            d3.json("attacks.json", function(data) {
              var overlay = new google.maps.OverlayView();

             // Add the container when the overlay is added to the map.
              overlay.onAdd = function() {
                var layer = d3.select(this.getPanes().overlayLayer).append("div")
                    .attr("class", "stations");

                // Draw each marker as a separate SVG element.
                // We could use a single SVG, but what size would it have?
                overlay.draw = function() {
                  var projection = this.getProjection();

                  var marker = layer.selectAll("svg")
                      .data(d3.entries(data))
                      .each(transform) // update existing markers
                    .enter().append("svg:svg")
                      .each(transform)
                      .attr("class", "marker");

                  // Add a circle.
                  marker.append("svg:circle")
                      .attr("r", 4.5)
                      .attr("cx", 25)
                      .attr("cy", 25);

                  // Add a label.
                  marker.append("svg:text")
                      .attr("x", 33)
                      .attr("dy", 28)
                      .text(function(d) { return d.key; }); 

                  function transform(d) {
                    d = new google.maps.LatLng(d.value[1], d.value[0]);
                    d = projection.fromLatLngToDivPixel(d);
                    return d3.select(this)
                        .style("left", (d.x-25) + "px")
                        .style("top", (d.y-25) + "px");
                  }
                };
              };

              // Bind our overlay to the map…
              overlay.setMap(map); 
              });